body {
	 font-family: sans-serif;
background:black;
 }
.cursive{
	font-family: cursive;
}
.bg-light-green{
    background:#38e038;
    
    }
    .text-shadow{
       text-shadow:2px 2px black;
        
        
        }
       .fav{
         color:green !important;
          box-shadow: 1px 1px 2px green;
          padding:8px;
          margin:4px;
          width:40%;
        }